<h2>Welcome to your fit planner!</h2>

<p>Your own home to make and follow your personalized workout and nutrition plans. Keep track of your goals and progress.</p>


<!--
  Design elegant and informative catch-users-attention paragraph
  http://www.webmd.com/diet/food-fitness-planner/ has some pretty good pitches

  In the future, maybe fill with slideshow of example templates and pictures of people etc...
-->
