/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */

*{
  margin:0;
  padding:0;
  border:0;
}
html, body{
  position: relative;
  height: 100%;
  font-size: 18px;
  background-color: #E4E6DB;
  text-align: center;
}
body{
  box-sizing:border-box;
}

h1{
  font-weight: 100;
  font-size: 2.5em;
  margin: 0 20px 10px 20px;
  font-family: 'Aladin', cursive;
  color: #E4E6DB;
  display: inline-block;
}
.navbar-brand{
  font-weight: 100;
  font-size: 2.5em;
  margin: 0 20px 10px 20px;
  font-family: 'Aladin', cursive;
  color: #E4E6DB;
  display: inline-block;
}
.home_back{

}
.home_back img{
  width: 800px;
  height: auto;
}
.col-lg-6{
  left: 225px;
  width: 60%;
}
.creds{
  bottom: 0;
  height: 100%;
  display: block;
}
#inspiration{
  float: right;
  width: 225px;
  padding: 10px ;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/*ul, menu, dir{
  display: block;
}*/
